    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light">



            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" style="color: bisque;">Home <span
                                class="sr-only">(current)</span></a>



            </div>
        </nav>
        <div id="hed">
            <h1>Welcome to the Banking System</h1>
        </div>
        <div id="qoute">
            <h6>In Banking, Trust is the only thing you have to sell</h6>
        </div>
        <a href="transfer" class="GFG" id="fer">
            Transfer
        </a><br>
        <a href="transaction" class="GFG" id="tion">
            Transaction
        </a>

    </body>

    </html>