<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Transfer Money</title>
    <link href="./css/tnsStyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">



        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index" style="color: bisque;">Home <span class="sr-only"></span></a>



        </div>
    </nav>
    <div class="container" id='head'>
        <h1>TRANSACTION DETAILS</h1>
    </div>
    <div class="container" id='tb'>
        <table class="table table-bordered" style="border-color: paleturquoise">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">FROM</th>
                    <th scope="col">TO</th>
                    <th scope="col">TRANSFER AMOUNT</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <% const a = trns %>
                    <% a.forEach(entry => { %>
                    <td><%= entry.id %></td>
                    <td><%= entry.from %></td>
                    <td><%= entry.to %></td>
                    <td><%= entry.tamount %></td>


                </tr>
                <% }) %>

            </tbody>
        </table>
    </div>
</body>

</html>